<a href="https://colab.research.google.com/github/Ritikasrivasta/ACP/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Printing a greeting message
print("Hello, world!")

# Printing my name
print("My name is Alex.")

# Printing a fun fact about myself
# print("I love playing soccer.")
print("I love playing soccer.")

# Performing and printing a simple calculation
print("The result of 3 + 5 is:", 3 + 5)

Hello, world!
My name is Alex.
I love playing soccer.
The result of 3 + 5 is: 8

In [2]:
#Print a Sentence
print("Welcome to the world of programming!")

#Print a Number
print(4)

#Next Line after print
print("Hello Python \n")

#Pass multiple arguments for printing
print("hello",5)

#End argument of Print Statement
print("welcome to ", end= "*")

Welcome to the world of programming!
4
Hello Python

hello 5
welcome to *

In [3]:
# Creating different variables
x = 5
y = "John"
print(x)
print(y)

codingal = "codingal"
print(codingal)

# User Input
name = input("enter your name: ")

print("\nHello", name, "\nwelcome to codingal")

5
John
codingal
enter your name: Ritika

Hello Ritika
welcome to codingal

In [4]:
import keyword

# print all the Python keywords
print("Python keywords are...\n")
print(keyword.kwlist)

Python keywords are...

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
# Let's check the datatype of different values
a = 65
print("type of a: ", type(a))

b=4.5
print("type of b: ", type(b))

c= "hello"
print("type of c: ", type(c))

d= True
print("type of d: ", type(d))

type of a:  <class 'int'>
type of b:  <class 'float'>
type of c:  <class 'str'>
type of d:  <class 'bool'>

In [6]:
# Assigning Different Variables
name = "Penguin"
age = 15
is_student = True
weight = 38.5

# Printing Different Variables and their Data Type
print("Name :", name)
print("Data Type of Name is", type(name))

print("Age :", age)
print("Data Type of Age is", type(age))

print("is_student :", is_student)
print("Data Type of is_student is", type(is_student))

print("Weight :", weight)
print("Data Type of weight is", type(weight))

# Type casting to convert the datatype of variables
print("\n After Type Casting....")
age = str(age)
print(age)
print("Data Type of age is", type(age))
weight = int(weight)
print(weight)
print("Data Type of Weight is", type(weight))

Name : Penguin
Data Type of Name is <class 'str'>
Age : 15
Data Type of Age is <class 'int'>
is_student : True
Data Type of is_student is <class 'bool'>
Weight : 38.5
Data Type of weight is <class 'float'>

 After Type Casting....
15
Data Type of age is <class 'str'>
38
Data Type of Weight is <class 'int'>

In [7]:
#input a word
text = str(input("Enter a string: "))

# Reverse String
# using step value as -1 to iterate in reverse
revText = text[::-1]
text = revText

print("Reverse of Given String is:")
print(text)

Enter a string: car
Reverse of Given String is:
rac

In [8]:
# Storing Values
a = 98
b = 94
c = 41
d = 95
e = 11

# Finding the total of trees
sum = a+b+c+d+e
print("the sum of all the 5 trees is: ", sum)

# Finding the average of trees
average = sum/5
print("the average of all the tree is :", average)

the sum of all the 5 trees is:  339
the average of all the tree is : 67.8

In [9]:
# Taking total amount as input from user
Amount =int(input("Please Enter Amount for Withdraw :"))

# Calculating the number of notes of different denominations
note_1 = Amount//100
note_2 = (Amount%100)//50
note_3 = ((Amount%100)%50)//10


print( "notes of 100 rupee" , note_1)
print("notes of 50 rupee" , note_2)
print("notes of 10 rupee" , note_3)

Please Enter Amount for Withdraw :562
notes of 100 rupee 5
notes of 50 rupee 1
notes of 10 rupee 1

In [10]:
# take marks as input from user
print("Enter Marks Obtained in 4 Subjects: ")
math = int(input("maths :"))
english = int(input("english :"))
science = int(input("science :"))
hindi = int(input("hindi :"))

# Let's calculate the percentage of marks
sum = math+english+science+hindi
print("sum of math,english,science and hindi = ",sum)

perc = (sum/400)*100

print(end="Percentage Mark = ")
print(perc)

Enter Marks Obtained in 4 Subjects:
maths :55
english :8
science :6
hindi :75
sum of math,english,science and hindi =  144
Percentage Mark = 36.0

In [11]:
num = 3
if num > 0:
    print(num, "is a positive number.")


num = -1
if num > 0:
    print(num, "is a positive number.")

3 is a positive number.

In [12]:
actual_cost = float(input(" Please Enter the Actual Product Price: "))
sale_amount = float(input(" Please Enter the Sales Amount: "))

if (sale_amount > actual_cost):
    amount = sale_amount - actual_cost
    print("Total Profit = {0}".format(amount))
else:
    print("No Profit!!!")

 Please Enter the Actual Product Price: 50
 Please Enter the Sales Amount: 85
Total Profit = 35.0

In [13]:
i = int(input("enter a number : "))
if (i < 15):
    print ("i is smaller than 15")
    print ("i'm in if Block")
else:
    print ("i is greater than 15")
    print ("i'm in else Block")
print ("i'm not in if and not in else Block")

enter a number : 45
i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [14]:
number = int(input("Enter Number to check"))
print("Number to be checked :", number)

if number%2==0 :
  print("This is an even number")

else:
  print("This is an odd number")

Enter Number to check5
Number to be checked : 5
This is an odd number

In [15]:
a = 10
b = 12
c = 0

if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")



a = 10
b = -10
c = 0

if a > 0 or b > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")

if b > 0 or c > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")

Atleast one number has boolean value as False
Either of the number is greater than 0
No number is greater than 0

In [17]:
a = 10
b = 12
c = 12

print(a != b)
print(b != c)


a = "python"
b = "coding"

if a != b :
    print(a, 'and', b, 'are different.')


a = 4
b = 5

if (a == 1) != (b == 5):
    print('Hello')


try:
    a = int(input("enter a number: "))
    if a % 2 != 0:
        print(a, "is not even number.")
except ValueError:
    print("Invalid input. Please enter a valid integer.")

True
False
python and coding are different.
Hello
enter a number: 5
5 is not even number.

In [18]:
height = float(input("Enter your height in cm: "))
weight = float(input("Enter your weight in kg: "))

BMI = weight / (height/100)**2

print("Your BMI is", BMI)

if BMI <= 18.4:
    print("You are underweight.")
elif BMI <= 24.9:
    print("You are healthy.")
elif BMI <= 29.9:
    print("You are over weight.")
elif BMI <= 34.9:
    print("You are severely over weight.")
elif BMI <= 39.9:
    print("You are obese.")
else:
    print("You are severely obese.")

Enter your height in cm: 5.2
Enter your weight in kg: 80
Your BMI is 29585.79881656804
You are severely obese.

In [19]:
# Python program to illustrate the use

# of 'is' identity operator


x = 5

if (type(x) is int):

    print("true")

else:

    print("false")


x = 5.5

if (type(x) is not float):

    print("true")

else:

    print("false")


x = 20

y = 20

if (x is y):

    print("x & y SAME identity")


y = 30

if (x is not y):

    print("x & y have DIFFERENT identity")

true
false
x & y SAME identity
x & y have DIFFERENT identity

In [20]:
a = 10

b = -10


# print bitwise right shift operator

print("a >> 1 =", a >> 1)

print("b >> 1 =", b >> 1)


a = 5

b = -10


# print bitwise left shift operator

print("a << 1 =", a << 1)

print("b << 1 =", b << 1)

a >> 1 = 5
b >> 1 = -5
a << 1 = 10
b << 1 = -20

In [21]:
print("Enter Marks Obtained in 5 Subjects: ")

markOne = int(input())

markTwo = int(input())

markThree = int(input())

markFour = int(input())

markFive = int(input())


tot = markOne+markTwo+markThree+markFour+markFive

avg = tot/5


if avg>=91 and avg<=100:

    print("Your Grade is A1")

elif avg>=81 and avg<91:

    print("Your Grade is A2")

elif avg>=71 and avg<81:

    print("Your Grade is B1")

elif avg>=61 and avg<71:

    print("Your Grade is B2")

elif avg>=51 and avg<61:

    print("Your Grade is C1")

elif avg>=41 and avg<51:

    print("Your Grade is C2")

elif avg>=33 and avg<41:

    print("Your Grade is D")

elif avg>=21 and avg<33:

    print("Your Grade is E1")

elif avg>=0 and avg<21:

    print("Your Grade is E2")

else:

    print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
86
88
5
6
8
Your Grade is D

In [22]:
v = 4
w = 5
x = 8
y = 2
z = 0
z = (v+w) * x / y;
print("Value of (v+w) * x/ y is ",  z)



name = "Alex"
age = 0

if name == "Alex" or name == "John" and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Value of (v+w) * x/ y is  36.0
Hello! Welcome.

In [24]:
print("Enter a Number (Numerator): ")
numn = int(input())
print("Enter a Number (denominator): ")
numd = int(input())

if numn%numd==0:
  print("\n" +str(numn)+ " is divisible by " +str(numd))
else:
  print("\n" +str(numn)+ " is not divisible by " +str(numd))

Enter a Number (Numerator):
85
Enter a Number (denominator):
5

85 is divisible by 5

In [25]:
mean1 = 38
wrong_number=36
correct_number=56
total_number=40
#sum of 40 numbers
sum = mean1*total_number
print("the sum of 40 number: ",sum)

#correct sum of these numbers
num2=sum-((wrong_number)-(correct_number))
print("sum-((wrong_number)-(correct_number)): ",num2)

#the correct mean
mean2=num2/total_number
print(mean2)

the sum of 40 number:  1520
sum-((wrong_number)-(correct_number)):  1540
38.5

In [26]:
a = int(input("enter a value: "))
b = int(input("enter value 2 :"))
c = int(input("enter value 3: "))

avg = (a + b + c) / 3
print("avg =", avg)

if avg > a and avg > b and avg > c:
    print("%d is higher than %d, %d, %d" %(avg, a, b, c))
elif avg > a and avg > b:
    print("%d is higher than %d, %d" %(avg, a, b))
elif avg > a and avg > c:
    print("%d is higher than %d, %d" %(avg, a, c))
elif avg > b and avg > c:
    print("%d is higher than %d, %d" %(avg, b, c))
elif avg > a:
    print("%d is just higher than %d" %(avg, a))
elif avg > b:
    print("%d is just higher than %d" %(avg, b))
elif avg > c:
    print("%d is just higher than %d" %(avg, c))
else:
  print("invalid input")

enter a value: 5
enter value 2 :9
enter value 3: 8
avg = 7.333333333333333
7 is just higher than 5